@font-face { 
    font-family: 'coolvetica';
    src: url('/fonts/coolvetica.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }

  html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'coolvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar nav a {
    margin-left: 20px;
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar nav a:hover {
    background-color: rgba(255, 0, 123, 0.7);
}

header {
    text-align: center;
    padding: 150px 20px;
    background-image: url('/images/landingbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-logo {
    max-width: 150px;
    margin-right: 20px;
    float: left;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.navbar-brand {
    display: flex;
    align-items: center; 
}

.navbar-logo {
    max-height: 30px;
    margin-right: 10px; 
}

@media only screen and (max-width: 768px) {
    header {
        background-image: url('/images/mobilebg.jpg'); /* Ganti dengan URL dari gambar yang Anda inginkan */
    }
}

header h1 {
    font-size: 2.5em;
    background-color: #00000047;
    border-radius: 10px 10px 0 0; 
    margin-bottom: 0; 
    padding: 10px 20px; 
    backdrop-filter: blur(10px);
}

header p {
    font-size: 1.2em;
    background-color: #00000047;
    border-radius: 0 0 10px 10px; 
    margin-top: 0; 
    padding: 5px 15px; 
    backdrop-filter: blur(10px);
}



.cta-button {
    padding: 10px 20px;
    background-color: rgb(209, 24, 92);
    color: #FFF;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: rgb(152, 11, 63);
}

/* Styles for sections */
section {
    padding: 60px 20px;
    text-align: center;
}

#features {
    background-color: rgba(0, 0, 0, 0.8);
}

.feature-item {
    display: inline-block;
    width: 30%;
    padding: 20px;
    vertical-align: top;
    transition: transform 0.3s;
}

.feature-item:hover {
    transform: translateY(-10px);
}

.feature-item i {
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(209, 24, 92);
}

.feature-item h3 {
    font-size: 1.4em;
    margin-bottom: 20px;
}

#waifus {
    background-color: rgba(255, 0, 123, 0.1);
}

#contact {
    background-color: rgba(0, 0, 0, 0.9);
}

#contact form {
    max-width: 500px;
    margin: 0 auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
}

/* Styles for footer */
footer {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

footer p {
    margin: 0;
}

/* Mengatur bagian scrollbar yang dapat bergerak (thumb) */
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(179, 179, 179, 0.8);
}

/* Mengatur bagian track dari scrollbar */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Mengatur lebar scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Pengaturan untuk Firefox (gunakan jika diperlukan) */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.2);
}

.waifu-item {
    display: inline-block;
    width: 30%;
    padding: 20px;
    vertical-align: top;
    transition: transform 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 10px 1%; /* biar ada jarak antara waifu-item */
}

.waifu-item:hover {
    transform: translateY(-10px);
}

.waifu-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.waifu-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

a {
    color: rgb(209, 24, 92);
    background-color: transparent;
    text-decoration: none;
  }

.social-media {
    margin-bottom: 10px;
}