<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Temukan waifu hitam mu di Web Penghitaman Waifu!">
    <meta name="author" content="negro.consulting">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>WPW | Web Penghitaman Waifu</title>

    <!-- Additional CSS Files -->
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/styles.css">

    <link rel="stylesheet" href="/static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <script src="/static/script.js" defer></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" class="logo">
                            Web Penghitaman Waifu
                        </a>
                        <a href="" class="short">
                            WPW
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                            <li class="scroll-to-section"><a href="#features" class="menu-item">Features</a></li>
                            <li class="scroll-to-section"><a href="#trending" class="menu-item">Trending</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Misc <span class="new">&nbsp;1&nbsp;</span></a>
                                <ul>
                                    <li><a href="#donate" class="menu-item">Support</a></li>
                                    <li><a href="#chat" class="menu-item">Chat</a></li>
                                    <li><a href="/category" class="menu-item">Category</a></li>
                                    <li><a href="/form/suggest" class="menu-item">Suggest</a></li>
                                    <li><a href="/games" class="menu-item">Games <span class="new"><i class="bi bi-stars"></i>new</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1>Ramaikan, lalu <em>HITAMKAN.</em></h1>
                        <p>Ingin melihat waifumu hitam? atau waifu teman mu? Web Penghitaman Waifu adalah jawaban untukmu, dengan lebih dari 50 waifu yang sudah dihitamkan siap untuk memenuhi kebutuhanmu. Jadi tunggu apalagi? Coba sekarang dengan click dibawah!</p> 
                        <a href="/pages/elysia" class="main-button-slider">START NOW</a> <br><br><br>
                        <a href="https://wangy.cloud" class="main-button-sliderr" target="_blank">Also Try wangy.cloud !</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <div class="wrapper">
        <h3>
            <i class="bx bx-cookie"></i>
            <h3>Cookies Consent</h3>
          </h3>

          <div class="data">
            <p>This website use cookies to help you have a superior and more relevant browsing experience on the website. <a href="#"> Read more...</a></p>
          </div>
          <div class="buttons">
            <button class="button" id="acceptBtn">Accept</button>
            <button class="button" id="declineBtn">Decline</button>
          </div>
        </div>

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>01</h2>
                        <i class="bi bi-search"></i>
                        <h4>Pencarian Cepat</h4>
                        <p>Cari waifumu yang sudah dihitamkan dengan mudah.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>02</h2>
                        <i class="bi bi-folder-check"></i>
                        <h4>Free Request</h4>
                        <p>Bisa request waifu favoritmu kepada admin.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <div class="features-item">
                    <div class="features-icon">
                        <h2>03</h2>
                        <i class="bi bi-graph-up-arrow"></i>
                        <h4>Up To Date</h4>
                        <p>Update secara berkala dan lengkap dengan waifu yang sedang trending.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->

    <div class="left-image-decor"></div>

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="trending">
        <div class="container">
            <div class="row">
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="/static/assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="/static/kafka.jpg" alt="">
                            <div class="text">
                                <h4>Kafka</h4>
                                <p>A member of the Stellaron Hunters. A dashing, collected, and professional beauty.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                            <img src="/static/ryo.jpg" alt="">
                            <div class="text">
                                <h4>Ryo Yamada</h4>
                                <p>Ryo is an eccentric girl with a mischievous sense of humor.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.6s">
                            <img src="/static/zeta.jpg" alt="">
                            <div class="text">
                                <h4>Vestia Zeta</h4>
                                <p>Vestia Zeta is a female Indonesian VTuber associated with Hololive.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** trending Starts ***** -->
    <section class="section" id="donate">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="center-heading">
                        <h2>Thank You For Your <em>Support!</em></h2>
                        <br><br><br><br>
                        <p>Terima kasih kepada para donatur yang telah mendukung Web Penghitaman Waifu ini. Berikut adalah top 4 donatur kami:</p>
                    </div>
                    <a href="https://sociabuzz.com/prozycal/tribe" target="_blank" class="main-button-slide">DONATE</a>
                </div>
                <div class="col-lg-10 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="/static/blankimage.webp" alt=""></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <h1>$0</h1>
                                </ul>
                                <h4>Anonymous</h4>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
                                <span>01/01/2001</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="/static/blankimage.webp" alt="Second Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <h1>$0</h1>
                                </ul>
                                <h4>Anonymous</h4>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
                                <span>01/01/2001</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="/static/blankimage.webp" alt="Author Third"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <h1>$0</h1>
                                </ul>
                                <h4>Anonymous</h4>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
                                <span>01/01/2001</span>
                            </div>
                        </div>
                        <div class="item service-item">
                            <div class="author">
                                <i><img src="/static/blankimage.webp" alt="Fourth Author"></i>
                            </div>
                            <div class="testimonial-content">
                                <ul class="stars">
                                    <h1>$0</h1>
                                </ul>
                                <h4>Anonymous</h4>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit”</p>
                                <span>01/01/2001</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** trending Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer id="chat">
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="container-fluid h-100">
                            <div class="row justify-content-center h-100">		
                                <div class="col-md-8 col-xl-6 chat">
                                    <div class="card">
                                        <div class="card-header msg_head">
                                            <div class="d-flex bd-highlight">
                                                <div class="img_cont">
                                                    <img src="/static/negro.png" class="rounded-circle user_img">
                                                    <span class="online_icon"></span>
                                                </div>
                                                <div class="user_info">
                                                    <span>Negro Chan</span>
                                                    <p>Ask me anything!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="messageFormeight" class="card-body msg_card_body">
                                            
                                            
                                        </div>
                                        <div class="card-footer">
                                            <form id="messageArea" class="input-group">
                                                <input type="text" id="text" name="msg" placeholder="type something..." autocomplete="off" class="form-control type_msg" required/>
                                                <div class="input-group-append">
                                                    <button type="submit" id="send" class="input-group-text send_btn"><i class="bi bi-send-fill"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        <br>
                        <br>
                        <h2>Chat With Our<em> AI</em></h2>
                        <p>Negro Chan adalah asisten virtual yang menggunakan kecerdasan buatan untuk menyediakan bantuan dan informasi kepada pengguna. Dengan kemampuan pemrosesan berdasarkan GPT-2, Negro Chan dapat menjawab pertanyaan, memberikan saran, dan berinteraksi dalam berbagai konteks.
                            <br><br>Desainnya bertujuan untuk menciptakan pengalaman pengguna yang ramah dan informatif.</p>
                        <ul class="social">
                            <li><a href="https://github.com/Prozycal"><i class="bi bi-github"></i>
                            <li><a href="https://twitter.com/Prozycal"><i class="bi bi-twitter-x"></i>
                            <li><a href="https://www.instagram.com/przycal.fx"><i class="bi bi-instagram"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Made With 💖 By <strong>Prozycal</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/static/assets/js/custom.js"></script>
    <script>
        $(document).ready(function() {
            $("#messageArea").on("submit", function(event) {
                const date = new Date();
                const hour = date.getHours();
                const minute = date.getMinutes();
                const str_time = hour+":"+minute;
                var rawText = $("#text").val();

                var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="/static/blankimage.webp" class="rounded-circle user_img_msg"></div></div>';
                
                $("#text").val("");
                $("#messageFormeight").append(userHtml);

                $.ajax({
                    data: {
                        msg: rawText,	
                    },
                    type: "POST",
                    url: "/get",
                }).done(function(data) {
                    var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/negro.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
                    $("#messageFormeight").append($.parseHTML(botHtml));
                });
                event.preventDefault();
            });
        });
    </script>
</body>
</html>