@font-face { 
    font-family: 'coolvetica';
    src: url('/fonts/coolvetica.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
  }

  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
    font-family: 'coolvetica', sans-serif;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/velionabg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px); 
}

.navbar-logo {
    max-height: 30px; 
    margin-right: 10px; 
    margin-left: 10px;
    vertical-align: middle; 
}

.navbar-text {
    color: white;
    font-size: 1.2em;
    margin-left: 5px;  
    flex: 1;
    line-height: 30px;
}

#searchBar {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 0;  
}

#navbutton {
    padding: 10px 15px;
    margin-top: 2px;
    border: none;
    background-color: rgb(209, 21, 21);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;  
}

.search-container {
    display: flex;  
    align-items: center;  
    justify-content: center;  
}


a {
    color: rgb(209, 21, 21);
    background-color: transparent;
    text-decoration: none;
  }

  .container {
    background-color: rgba(23, 23, 23, 0.451); 
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px); 
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    object-fit: contain; 
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: rgb(209, 21, 21);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(174, 18, 18);
}

p {
    margin-top: 20px;
}
.navigation {
    margin-top: 20px;
}

.navigation button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(209, 21, 21);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 
}

.navigation button:last-child {
    margin-right: 0;
}

.navigation button:hover {
    background-color: rgb(174, 18, 18);
}

.footer {
    width: 100%;
    padding: 25px 0;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    backdrop-filter: blur(10px); 
}

.social-media {
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: rgb(255, 255, 255);
}

.search-container {
    display: flex;  
    align-items: center;  
    justify-content: center;  
    position: relative;  
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;  
    left: 0;    
    background-color: #f9f9f9;
    min-width: 200px;   
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    color: black;
    border-radius: 10px; 
}


.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.bi-fire {
    color: rgb(255, 128, 0);
}

.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(184, 90, 90, 0.2); 
}

.modal-content {
    background-color: #00000069;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    text-align: center; 
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

/* Mengatur bagian scrollbar yang dapat bergerak (thumb) */
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(179, 179, 179, 0.8);
}

/* Mengatur bagian track dari scrollbar */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Mengatur lebar scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Pengaturan untuk Firefox (gunakan jika diperlukan) */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.2);
}

.bi-stars {
    color: rgb(255, 217, 0);
}